.containerAdmin {
	width: 100%;
	height: 100%;
	padding: 2rem;


	header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		h1 {
			font-weight: 700;
			font-size: 1.3rem;
			color: var(--bg-second)
		}

		.infoUserAdmin {
			display: flex;
			align-items: center;
			gap: 1rem;

			span {
				font-size: 1rem;
				font-weight: 600;
			}

			div {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: var(--blue)
			}
		}
	}

	.contentCardsInfos {
		display: flex;
		justify-content: center;
		gap: 2rem;
		margin-top: 2rem;

		.cardInfo {
			width: 250px;
			height: 130px;
			border: 1px solid var(--text-white);
			background: #fff;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			transition: 0.3s;
			cursor: pointer;

			h2 {
				color: var(--text-gray);
				font-weight: 700;
				font-size: 1rem;
				transition: 0.3s;
			}

			span {
				font-size: 2rem;
				font-weight: 800;
				color: var(--bg-second);
				transition: 0.3s;
			}

			&:hover {
				border: 1px solid var(--blue);
				h2 {
					color: var(--blue)
				}
				span {
					color: var(--blue)
				}
			}
		}
	}

}
